<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training Department</title>
</head>
<body>
<h1>Menu</h1>
<ol>
    <li>
        <a href="/get-groups">Get groups</a>
    </li>
    <li>
        <a href="/get-students">Get students</a>
    </li>
    <li>
        <a href="/get-students-group">Get students in group</a>
    </li>
    <li>
        <a href="/find-group">Find group</a>
    </li>
    <li>
        <a href="/find-student">Find student</a>
    </li>
    <li>
        <a href="/add-group">Add group</a>
    </li>
    <li>
        <a href="/add-student">Add student</a>
    </li>
    <li>
        <a href="/delete-group">Delete group</a>
    </li>
    <li>
        <a href="/delete-student">Delete student</a>
    </li>
</ol>
</body>
</html>